<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta
            id="scratchbird"
            class="org.jkiss.dbeaver.ext.scratchbird.model.ScratchBirdMetaModel"
            driverClass="com.scratchbird.jdbc.SBDriver"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.scratchbird.model.ScratchBirdDataSourceProvider"
            description="ScratchBird JDBC connector"
            id="scratchbird"
            parent="generic"
            inheritProviderProperties="true"
            label="ScratchBird"
            icon="#database_icon_default"
            dialect="generic">

            <treeInjection path="generic/catalog/schema" remove="true"/>
            <treeInjection path="generic/catalog">
                <items label="#schema" path="schema" property="schemaTree" icon="#schema" optional="true">
                    <icon if="object.system" icon="#schema_system"/>

                    <items label="#schema" path="schema" property="childSchemas" icon="#schema" recursive="..">
                        <icon if="object.system" icon="#schema_system"/>
                    </items>

                    <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTable" label="%tree.tables.node.name" icon="#folder_table" description="%tree.tables.node.tip">
                        <items label="%tree.table.node.name" path="table" property="physicalTables" icon="#table">
                            <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableColumn" label="%tree.columns.node.name" icon="#columns" description="%tree.columns.node.tip">
                                <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column"/>
                            </folder>
                        </items>
                    </folder>

                    <folder type="org.jkiss.dbeaver.ext.generic.model.GenericView" label="%tree.tviews.node.name" icon="#folder_view" description="%tree.tviews.node.tip" visibleIf="object.dataSource.metaModel.supportsViews(object.dataSource)">
                        <items label="%tree.tview.node.name" path="view" property="views" icon="#view">
                            <folder type="org.jkiss.dbeaver.ext.generic.model.GenericTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
                                <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column"/>
                            </folder>
                        </items>
                    </folder>

                    <folder type="org.jkiss.dbeaver.model.struct.DBSDataType" label="%tree.dataTypes.node.name" icon="#data_types" description="%tree.dataTypes.node.tip">
                        <items label="%tree.dataType.node.name" path="dataType" property="dataTypes" icon="#data_type"/>
                    </folder>
                </items>
            </treeInjection>

            <drivers managable="true">
                <driver
                    id="scratchbird_jdbc"
                    label="ScratchBird"
                    icon="platform:/plugin/org.jkiss.dbeaver.ext.generic/icons/database.png"
                    iconBig="platform:/plugin/org.jkiss.dbeaver.ext.generic/icons/database.png"
                    class="com.scratchbird.jdbc.SBDriver"
                    sampleURL="jdbc:scratchbird://{host}[:{port}]/{database}"
                    defaultPort="3092"
                    webURL="https://scratchbird.com/"
                    description="ScratchBird JDBC driver"
                    supportedConfigurationTypes="MANUAL,URL"
                    categories="sql">

                    <file type="jar" path="maven:/com.scratchbird:scratchbird-jdbc:RELEASE"/>

                    <parameter name="omit-catalog-name" value="true"/>
                    <parameter name="omit-single-catalog" value="false"/>
                    <parameter name="supports-views" value="true"/>
                    <parameter name="supports-indexes" value="true"/>
                    <parameter name="supports-stored-code" value="false"/>
                    <parameter name="stored-unquoted-case" value="lower"/>
                </driver>
            </drivers>
        </datasource>
    </extension>

</plugin>
